body {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-style: normal;
  font-size: 14px;
  line-height: 27px;
  color: $black;
  background-color: #fff;
}

.container {
  max-width: 1200px;
  padding: 0 15px;
  margin: 0 auto;
}

.title {
  max-width: 700px;
  line-height: 60px;
  margin: 0 auto;
  font-size: 50px;
  color: $accent;
  text-align: center;
  margin-bottom: 30px;
  text-transform: uppercase;
  font-family: 'Montserrat', sans-serif;

  &--white {
    color: $white;
  }
}

.vs {
  padding: 70px 0;
}

.btn {
  padding: 10px 20px;
  border: 1px solid $white;
  font-weight: 600;
  font-size: 16px;
  border-radius: 10px;
  background-color: $white;
  transition: 0.3s;
  
  &:hover {
    background-color: transparent;
    color: $white;
  }
}