@import "vars";
@import "fonts";
@import "reset";
@import "libs";
@import "global";
@import url("https://fonts.googleapis.com/css2?family=Montserrat+Alternates:wght@500&family=Montserrat:wght@700&family=Open+Sans:wght@400;500;700&display=swap");

// Логотип
.logo {
  position: relative;
  object-fit: contain;
  z-index: 900;
}
// Меню в header
.menu-top {
  &__list {
    display: flex;
  }

  &__item + .menu-top__item {
    margin-left: 30px;
  }

  &__link {
    position: relative;
    font-size: 16px;
    color: $white;
    padding: 5px;
    font-weight: 600;

    &:before {
      position: absolute;
      content: "";
      left: 50%;
      bottom: 0;
      width: 0;
      height: 3px;
      background-color: $accent;
      transition: 0.3s;
    }

    &:hover::before {
      left: 0;
      width: 100%;
    }
  }
}

#menu-btn {
  position: relative;
  display: none;
  color: $white;
  font-size: 25px;
  cursor: pointer;
  z-index: 900;
}

.filter-menu {
  text-align: center;

  &__link {
    border: 1px solid $accent;
    background-color: transparent;
    font-size: 18px;
    font-weight: 16px;
    margin: 0 10px;
    padding: 5px 15px;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;

    &:focus {
      background-color: $accent;
      color: $white;
    }

    &:hover {
      background-color: $accent;
      color: $white;
    }
  }
}

// социальные сети
.social {
  position: absolute;
  right: 0;
  &__list {
  }

  &__item {
    line-height: 50px;
  }

  &__link {
  }

  i {
    font-size: 35px;
    color: $white;

    &:hover {
      opacity: 50%;
    }
  }
}

// Header fixed
.header {
  position: relative;
  padding: 5px;
  position: fixed;
  left: 0;
  right: 0;
  z-index: 900;
  transition: 0.5s;

  &.active {
    background-color: $top-bg;
    transition: 0.5s;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
// Top
.top {
  background-color: #009688;
  background-image: url(../images/bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  &::before {
    position: absolute;
    content: "";
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgb(71, 59, 59, 0.5);
  }

  &__inner {
    position: relative;
    height: 100vh;
    display: flex;
    align-items: center;
  }

  &__content {
    max-width: 600px;
    width: 100%;
  }

  &__title {
    font-size: 50px;
    color: $white;
    margin-bottom: 30px;
    line-height: 50px;
    font-family: $font-m;
    text-transform: uppercase;
  }

  &__text {
    font-size: 18px;
    color: $white;
    margin-bottom: 20px;
  }
}

.img-box {
  max-width: 500px;
  display: flex;
  padding-right: 50px;
  justify-content: flex-end;
  overflow: hidden;
}

.switch {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;

  &__item {
    margin: 10px;
    cursor: pointer;
    transition: 0.5s;

    &:hover {
      transform: translateY(-20px);
    }
  }

  img {
    max-width: 80px;
  }
}

// Menu
.menu {
  background-color: $white;

  &__inner {
    border-radius: 20px;
    margin: 0 auto;
    padding: 30px;
    @include grid(500px);
  }

  &__box {
    position: relative;
    color: $black;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 700;
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    z-index: 100;
  }

  &__info {
    position: relative;
    display: flex;
    align-items: center;
    max-width: 500px;
    width: 100%;
  }

  &__name {
    padding-right: 5px;
    margin-right: 10px;
    line-height: 22px;
    background-color: $white;
    font-family: $font-m;

    span {
      padding-right: 10px;
      background-color: transparent;
    }
  }

  &__price {
    padding-left: 5px;
    margin-left: auto;
    white-space: nowrap;
    background-color: $white;

    &::before {
      position: absolute;
      content: "";
      width: 100%;
      right: 0;
      bottom: 10px;
      border-bottom: 1px dashed grey;
      z-index: -1;
    }
  }

  &__description {
    width: 100%;
    display: block;
    text-transform: initial;
    line-height: 20px;
    font-size: 16px;
    font-weight: 400;
    color: $accent;
  }
}

// Акции
.stock {
  background-color: #faf5eb;
  padding-bottom: 100px;

  &__inner {
    height: 300px;
  }

  &__box {
    position: relative;
    width: 350px;
    min-height: 300px;
    background-repeat: no-repeat;
    background-position: auto;
    background-size: cover;
    padding: 30px;
    margin-right: 50px;
    z-index: 3;

    img {
      position: absolute;
      opacity: 50%;
      left: 0;
      top: 0;
      min-height: 300px;
      object-fit: cover;
      z-index: -1;
    }
  }

  &__info {
    text-align: right;
  }

  &__subtitle {
    display: block;
    text-transform: uppercase;
    font-size: 25px;
    font-weight: 700;
    color: #3f2626;
    margin-bottom: 20px;
  }

  &__text {
    display: inline-block;
    max-width: 200px;
    font-size: 16px;
    font-weight: 700;
  }

  // Слайдер
  .slick-dots {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  .slick-dots button {
    font-size: 0;
    border: 0;
    padding: 0;
    width: 15px;
    height: 15px;
    background-color: transparent;
    border: 1px solid $accent;
    border-radius: 50%;
    margin: 0 5px;
  }

  .slick-dots .slick-active button {
    opacity: 1;
    background-color: $accent;
  }
}

// Bonus section
.bonus {
  background: linear-gradient(0deg, rgba(63, 56, 56, 1) 0%, rgba(92, 59, 43, 1) 100%);

  &__list {
    display: flex;
    justify-content: center;
  }

  &__item {
    position: relative;
    max-width: 250px;
    margin-right: 30px;
    color: $white;
    text-transform: uppercase;
    font-size: 18px;
    font-family: $font-m;
    font-weight: 600;
    padding-left: 80px;
    background-repeat: no-repeat;
    background-position: left;
    background-size: contain;

    &--gift {
      background-image: url(../images/icons/gift.png);
    }

    &--sale {
      background-image: url(../images/icons/sale.png);
    }

    &--application {
      background-image: url(../images/icons/application.png);
    }
  }

  &__box {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }

  &__info {
    padding-top: 80px;
    max-width: 700px;
    color: $white;
    font-size: 16px;

    ul li {
      margin-bottom: 20px;
    }

    ul li span {
      color: $orange;
      text-transform: uppercase;
      font-size: 18px;
      line-height: 35px;
    }
  }

  &__text {
    color: $white;
    font-size: 18px;
    margin-bottom: 30px;
  }

  &__subtitle {
    color: $orange;
    font-size: 30px;
    text-align: center;
    margin-bottom: 35px;
    text-transform: uppercase;
  }

  &__programs {
    display: flex;
    justify-content: space-evenly;
  }

  &__program {
    position: relative;
    max-width: 350px;
    text-align: center;

    span {
      font-size: 18px;
      color: $white;
      font-family: $font-m;
    }

    &:not(:last-child):after {
      position: absolute;
      content: "";
      right: -63px;
      top: 50px;
      background-image: url(../images/arrow.png);
      background-repeat: no-repeat;
      background-position: center;
      background-size: contain;
      width: 150px;
      height: 30px;
    }
  }

  &__circle {
    background-color: $white;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px auto;

    span {
      font-size: 35px;
      color: $orange;
      font-weight: 700;
    }
  }
}

// Delivery
.delivery {
  &__inner {
  }

  &__top {
    display: flex;
    justify-content: space-around;

    img {
      height: 500px;
      object-fit: contain;
    }
  }

  &__info {
    max-width: 700px;

    h3 {
      font-size: 18px;
      color: $orange;
      color: $black;
      font-weight: 700;
     
    }

    ul li {
     margin-bottom: 20px;
    }

    ul li span {
      font-size: 18px; 
      text-decoration-line: underline;
      text-decoration-color: $accent;
    }

    ul li p {
     line-height: 20px;
    }

   
  }
}


// reviews
.reviews {
background-color: #faf5eb;

		&__inner {
      height: 350px;
		}

		&__box {
      background-color: $white;
      text-align: center;
      max-width: 350px;
      width: 100%;
      min-height: 350px;
      border-radius: 10px;
      padding: 20px 10px;
		}

		&__img {
      display: inline-block;
      width: 100px;
      object-fit: contain;
      margin: 0 auto;
		}

    // Навстройка слайдера
    .slick-prev,
    .slick-next {
      border: none;
      background-color: transparent;
      padding: 0;
      position: absolute;
      top: 50%;
      transform: translateY(-50%);
      z-index: 10;
    }

    .slick-prev-btn,
    .slick-next-btn {
      width: 30px;
      opacity: 50%;
      transition: opacity 0.3s, transform 0.3s;

      &:hover {
        opacity: 100%;
        transform: scale(1.2);
      }
    }

    .slick-prev {
      left: 0px;
    }

    .slick-next {
     right: 15px;
    }

   
}

.blockquote {
margin-bottom: 10px;

		&__name {
      padding: 10px 0;
      display: block;
      font-style: normal;
      color: $orange;
      font-size: 18px;
      font-family: $font-m; 
		}

    p {
      @include clamp(5);
    }
}

.footer {
  background-color: $top-bg;
  color: $white;
  padding: 30px 0;
}

@import "media";